<nav>
  <ul>
  	<li>
	  <a href="/homepage">Home Page</a>
	</li>
	<li>
	  <a href="/about">About</a>
	</li>
	<li>
		<a href="/users/login">Login Page</a>
	</li>
	<li>
		<a href="/users/register">Register Page</a>
	</li>
  </ul>
</nav>
