{{>nav}}
<dir id=blogdir>
    <h2 style="color:black; text-shadow:3px 2px red;"> Information About Istanbul </h2>
    <dir>
        <h4 id=aboutp>
            Istanbul is the largest city in Turkey, constituting the country's economic, cultural and historical center. 
            The population of almost 15 million lives in Istanbul's vast area of 5,343 square kilometers. Istanbul is situated at the 
            Bosphorus – one of the world's busiest waterways – in northwestern Turkey, between the Sea of Marmara and the Black Sea. 
            Its commercial and historical center lies in Europe, while a third of its population lives on the Asian side.
        </h4>
        <h4 id=aboutp>	
            Founded around 660 BC as Byzantium, the city developed into one of the most significant cities in history. 
            For nearly sixteen centuries following its reestablishment as Constantinople in 330 AD, it served as the capital of four empires: 
            the Roman Empire, the Byzantine Empire, the Latin Empire and the Ottoman Empire. It was instrumental in the advancement of Christianity 
            during Roman and Byzantine times, before the Ottomans conquered the city in 1453 and transformed it into an Islamic stronghold and the seat 
            of the last caliphate. Although the Republic of Turkey established its capital in Ankara, palaces and imperial mosques still line Istanbul's 
            hills as visible reminders of the city's previous central role.
        </h4>
        <h4 id=aboutp>
            Istanbul's strategic position along the historic Silk Road, rail networks to Europe and the Middle East, 
            and the only sea route between the Black Sea and the Mediterranean have helped to foster an eclectic populace, 
            although less so since the establishment of the Republic in 1923. Arts festivals were established at the end of the 20th century, 
            while infrastructure improvements have produced a complex transportation network.
        </h4>
    </dir>
</dir>
