{{>nav2}}
{{#each posts}}
<div id=sol>
	<div  id=blog>
		<div  id=blog>
			<img src="{{picture}}" id=blogimg>
		</div>
		<div id=blog>
			<h3 id=blog>{{pname}}</h3>
			<p id=blog>{{description}}</p>
			<a href="/posts/{{_id}}">Read More</a>
		</div>
	</div>
</div>	
{{/each}}